body{
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  input{
    height: 40px;
    width: 50%;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    padding-left: 10px;
    font-size: 20px;
  }
  p{
    font-size: 20px;
    padding: 0 0px;
  }
  .submit-btn{
    margin: 20px;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid green;
    background: none;
    color: green;
  }

  footer{
    margin: 120px 0 0 0;
  }

  .api_data{
    background-color: green;
  }